# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.idea/
.vscode/
*.iml
.env

# System
.DS_Store
Thumbs.db

# Python virtual environments
venv/
.env/
ENV/

# Backend
backend/.env
backend/epic_grind.db

@eaDir/

# Ignore release APKs
build/
*.apk