annotated-types==0.7.0
anyio>=3.6,<4.0
bcrypt==4.3.0
click>=8.0,<8.3
colorama==0.4.6
fastapi==0.115.12
greenlet>=1.1.1,<3.3
h11==0.16.0
httptools==0.6.4
idna==3.10
passlib==1.7.4
psycopg2-binary==2.9.10
pydantic>=1.10,<2.0
python-dotenv>=0.21,<1.0
PyYAML==6.0.2
sniffio==1.3.1
SQLAlchemy==2.0.41
starlette==0.44.0
git+https://github.com/ilevkivskyi/typing_inspect.git
typing_extensions==4.13.2
uvicorn
watchfiles==0.24.0
websockets==13.1

